<%- include("partials/header"); -%>
<div class="container">
  <h1 class="pp text-center">About</h1>
  <div class="text-center">
    <img class="ee img-responsive inline-block" src="https://i.pinimg.com/564x/bf/9c/0d/bf9c0d8b5045e02cc6febd7a4c82ac63.jpg" alt="Uploaded Image">
 
    <h4 class="ll"> <%= aboutContent %> </h4>
    
  
  </div>
</div>
<%- include("partials/footer"); -%>
