<%- include("partials/header"); -%>
<div class="container">
  <h1 class="ww text-center">Contact</h1>
  <div class="text-center">
    <img class="ie img-responsive" src="https://i.pinimg.com/564x/0a/ca/cf/0acacfe788e0d73a77db226f0fc9cbf5.jpg" alt="">
  </div>
  <p class="ol text-center"> <%= contactContent %> </p>
  <div class="text-center">
    <div class="btn-group" role="group" aria-label="LinkedIn">
      <a class="iq btn btn-secondary" href="https://www.linkedin.com/in/aryana-sharma-374073248/" target="_blank">LinkedIn</a>
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>
