html {
  min-height: 100%;
  position: relative;
  
  
}

.ol{
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
}

.iq{
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
  margin-left: 680px;
}

.ie{
  display: block;
  margin: 0 auto;
 
  width: 120px;
  height:120px;
  object-Fit: cover;
  margin-Top:25px;
  margin-bottom: 20px;
}

.kk{
  margin-right: 10px;
}



.ee{
  display: block;
    margin: 0 auto;
    border-Radius: 50%;
    width: 200px;
    height:200px;
    object-Fit: cover;
    margin-Top:25px;
    margin-bottom: 40px;
}

.ok{
  text-align: center;
  font-size: 60px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 30px;
  
  
}

.nn{
  margin-left: 50px;
  margin-right: 50px;

}

.yy{
  font-family: 'Nunito', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  
}



.ll{
  font-family: 'Yantramanav', sans-serif;
  text-align: center;
 
}

.il{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  display: block;

}

.ww{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.pp{
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.op{
  margin-left: 50px;
}

.qw{
  font-family: 'Nunito', sans-serif;
  margin-left: 50px;
}

.ii{
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  margin-left: 50px;
  
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #C1ECE4;
}



.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: black;
}
